
.load{
    position: fixed;
    top: 50%;
    left: 50%;
}

.image{
    object-fit: cover;
    width: 100%;
    
}
.mypaper{
    border: 1px solid rgb(199, 3, 199);
    height:35em;
    overflow-y: scroll;
}
