*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer{
    height: 18vh;
    background-color:  rgb(109, 6, 109);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: white; 
}



.link{
    margin-bottom: .2em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    

}
.copyright{
    margin-bottom: 0.3em;
    padding-top: .5em;
    

}
.about{
    color: white;
    text-decoration: none;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .about{
        font-size: small;
    }
    .copyright{
        font-size: small;
    }
   
    .link{
        margin-bottom: 0.3em;
    }
    .copyright{
        margin-bottom: 0.3em;
    }
    .footer{
        width: 100%;
        height: 10vh;
        
        
     
    }
   
    
}
@media (max-width: 300px) {
    .about{
        font-size:x-small;
    }
    .copyright{
        font-size:x-small;
    }
    /* .container{
        height: 7vh;
        width: 100%;
    } */
    .link{
        margin-bottom: 0.5em;
    }
    .copyright{
        margin-bottom: 0.5em;
    }
    .footer{
        width: 100%;
        height: 7vh;
        margin-top: 2em;
        
    }
    
}
